@model Usuarios

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Seguro desea borrar este Usuario?</h3>
<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="row">
	
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombreUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombreUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoUsuario)
        </dd>
        
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUsuario" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
