@model IEnumerable<Usuarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Create">Nuevo Usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoUsuario)
            </th>
			
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoUsuario)
                </td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdUsuario">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdUsuario">Ver Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdUsuario">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
