@model IEnumerable<Permisos>

@{
    ViewData["Title"] = "Index";
}

<h1>Permisos</h1>

<p>
    <a asp-action="Create">Nuevo Permiso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles.NombreRol)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Modulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roles.NombreRol)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPermiso">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdPermiso">Ver Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPermiso">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
