@model IEnumerable<Permisos>

@{
    ViewData["Title"] = "Lista de Permisos";
}

<div class="container my-5">
    <div class="row justify-content-between align-items-center mb-3">
        <h2 class="text-primary">Permisos</h2>
        <a asp-action="Create" class="btn btn-success">Crear Nuevo Permiso</a>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Módulo</th>
                    <th>Acción</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var permiso in Model)
                {
                    <tr>
                        <td>@permiso.Modulo</td>
                        <td>@permiso.Accion</td>
                        <td>@permiso.Roles.NombreRol</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@permiso.IdPermiso" class="btn btn-warning btn-sm">Editar</a>
                            <a asp-action="Details" asp-route-id="@permiso.IdPermiso" class="btn btn-info btn-sm">Ver</a>
                            <a asp-action="Delete" asp-route-id="@permiso.IdPermiso" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
